<header>
  <h1>Tiny URL App</h1>
    <% if(username) { %>

    <form  method="POST" action="/logout">
    <p><%='You are logged in as: ' + username.email%>&nbsp&nbsp&nbsp&nbsp</p>
    <button type="submit">Logout</button>
    </form>


    <% } else { %>

    <a href="/login">Login</a> <a href = "/register">Register</a>

    <% } %>
</header>